<br/>
<div class="row">
  <div class="large-2 columns small-3">
    <img src="http://placehold.it/80x80&text=[img]"/>
  </div>
  <div class="large-10 columns">
    <h4>
      <%= check_box_tag "task_#{@task.id}", nil, @task.is_complete %> -
      <%= @task.title %>
    </h4>

    <p><%= @task.description.empty? ? "No Description..." : @task.description %></p>

    <ul class="inline-list">
      <li><a href="">Edit</a></li>
      <li><a href="">Comment</a></li>
    </ul>


    <h6>2 Comments
      <small>WIP</small>
    </h6>

    <div class="row">
      <div class="large-2 columns small-3">
        <img src="http://placehold.it/50x50&text=[img]"/>
      </div>
      <div class="large-10 columns">
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in
          reprehenderit</p>
      </div>
    </div>
    <div class="row">
      <div class="large-2 columns small-3">
        <img src="http://placehold.it/50x50&text=[img]"/>
      </div>
      <div class="large-10 columns">
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in
          reprehenderit</p>
      </div>
    </div>
  </div>
</div>